@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Red+Hat+Display:wght@300&display=swap');
body{
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #200355;
}
/* header */
header{
    width: 99vw;
    height: 10vh;
    padding:5px;
    top: 0;
    left:0;
    display: flex;
    font-family: var(--font-family);
    background-color: #200355;
    -webkit-box-shadow: 0px 19px 8px -1px #000000; 
    box-shadow: 0px 19px 8px -1px #000000;
}

header
.nav-container{
    padding: 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}
.nav-container .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: #fff;
}

.nav-container .logo h1{
    font-size:20px;
}

nav ul {
    display: flex;
    gap: 40px;
}

ul li a{
    font-weight: 600;
    color: #fff;
}

.happy:hover{
    color: var(--yellow-primary);
    text-decoration: underline;
}
.health:hover{
    color: var(--green-primary);
    text-decoration: underline;
}
.background-div-chart{
width: 30vw;
height: 40vh;
background-color: #1A0245;
border-radius: 20px;
display: flex;
justify-content: center;
align-items: center;
}
#myChart{
    background-color: #1A0245;
    color: white;
    border-radius: 20px;
    
}
.chart{
    width: 80%;
    height: 80%;
    background-color: #1A0245;
    border-radius: 20px;

    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.div-image{
    width: 40vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-image img{
    width: 100%;
    height: 100%;
}

main{
    background-color: var(--blue-primary);
    width: 100%;
    /* height: 100vh; */
    overflow-y: hidden;
    overflow-x: hidden;
}

.div-text{
    font-size: 1rem;
    color: white;
    width: 40%;
    height: 100%;
    margin: 0; 
}
.div-text p{
    margin: 0;
    
}
.div-text :nth-child(){
    margin: 0;
    width: 100%;
}
#div-for-buttons{
    display: flex;
}
.button-happiness{
width: 200px;
height: 50px;
background-color: #FEC505;
color: white;
border-radius: 25px;
border: none;
box-shadow: -5px 5px 10px rgba(21, 2, 55, 0.2), 5px -5px 10px rgba(21, 2, 55, 0.2), -5px -5px 10px rgba(31, 2, 83, 0.9), 5px 5px 13px rgba(21, 2, 55, 0.9), inset 1px 1px 2px rgba(31, 2, 83, 0.3), inset -1px -1px 2px rgba(21, 2, 55, 0.5);
align-items: center;
font-family: 'Montserrat';
display: flex;
margin: 30px;
text-decoration: none;
justify-content: center;
align-items: center;
margin-left: 0px;
}
.button-health{
width: 200px;
height: 50px;
background-color: #44B562;
color: white;
border-radius: 25px;
border: none;
box-shadow: -5px 5px 10px rgba(21, 2, 55, 0.2), 5px -5px 10px rgba(21, 2, 55, 0.2), -5px -5px 10px rgba(31, 2, 83, 0.9), 5px 5px 13px rgba(21, 2, 55, 0.9), inset 1px 1px 2px rgba(31, 2, 83, 0.3), inset -1px -1px 2px rgba(21, 2, 55, 0.5);
font-family: 'Montserrat';
display: flex;
margin: 30px;
text-decoration: none;
justify-content: center;
align-items: center;
margin-left: 0px;

}
p{
font-style: normal;
font-weight: lighter;
font-family: 'Montserrat';
margin: 0;

}
h2{
font-family: 'Montserrat';
margin-bottom: 20px;
}
h2 :nth-child(1){
    color: #FEC505;
}
h2 :nth-child(2){
    color: #44B562;
}
h2 :nth-child(3){
    font-weight: lighter;
}
.top-section{
    display: flex;
    justify-content: space-evenly;
    height: 30vh;
    /* display: none; */
}
:root{
    --yellow-primary: #FEC505;
    --green-primary: #44b562;
    --blue-primary: #200355;
    --pink-primary: #df6462;
    /* Secondary */
    --blue-secondary: #1a2a33;
    --blue-light-secondary: #1f3641;
    --blue-section-secondary: #1a0245;
    --grey-secondary: #a8bfc9;
    --grey-light-secondary: #dbe8ed;
    /* font */
    --font-family:'Montserrat', sans-serif;
    --font-weight-bold: 700;
    --font-weight-regular: 500;
}


/* carousel */

.double-carousel{
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-carousel,
.secondary-carousel{
    /* retire le margin top !! */
    position:relative;
    margin: 50px auto;
    padding: 10px;
    height: 50%;
    width: 40%;
    border-radius: 15px;
    background-color: var(--blue-section-secondary);
    box-shadow: -5px 5px 10px rgba(16, 1, 41, 0.2), 5px -5px 10px rgba(16, 1, 41, 0.2), -5px -5px 10px rgba(36, 3, 97, 0.9), 5px 5px 13px rgba(16, 1, 41, 0.9), inset 1px 1px 2px rgba(36, 3, 97, 0.3), inset -1px -1px 2px rgba(16, 1, 41, 0.5);
    font-family: var(--font-family);
}
.first-carousel .trophy{
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%);
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(240, 240, 240, 0.1);
    box-shadow: inset 2.66667px -2.66667px 2.66667px rgba(182, 182, 182, 0.1), inset -2.66667px 2.66667px 2.66667px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5.33333px);
    border-radius: 50px;
}

.secondary-carousel .trophy{
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%);
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(240, 240, 240, 0.1);
    box-shadow: inset 2.66667px -2.66667px 2.66667px rgba(182, 182, 182, 0.1), inset -2.66667px 2.66667px 2.66667px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5.33333px);
    border-radius: 50px;
}

.first-carousel .trophy svg{
    height: 25px;
    width: 25px;
}

#logo-trophy-green{
    color: var(--green-primary);
}

.first-carousel h2{
    margin: 10px;
    padding-top: 15px;
    font-size: 15px;
    text-align: center;
    color: var(--yellow-primary);
}

.secondary-carousel h2{
    margin: 10px;
    padding-top: 15px;
    font-size: 15px;
    text-align: center;
    color: var(--green-primary);
}

#left-2,
#right-2{
    color: var(--green-primary);
}


.slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:absolute;
    width: 90%;
    visibility:hidden;
}

.slider img{
    width: 35%;
}

.stats{
    margin: auto;
}
.stats h3{
    color: #fff;
}

.stats p{
    color: #787878;
}

/* slider */

.slider-container{
    display: flex;
    width: 100%;
}

.cc{
    position: relative;
    overflow: hidden;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    width: 90%;
}
.navigation p {
    color: #fff;
}

#left,
#right{
    font-size: 20px;
    color: var(--yellow-primary);
    cursor: pointer;
}

#logo-trophy{
    font-size: 20px;
    color: var(--yellow-primary);
}

/* api get new advice */

.advice-generator{
    /* retire le margin top !! */
    margin: -15px auto;
    padding: 10px;
    height: 50%;
    width: 60%;
    background-color: var(--blue-section-secondary);
    font-family: var(--font-family);
    border-radius:15px;
    color: white;
}

.advice-generator h1 {
    text-align: center;
}

.advice-container{
    padding: 10px;
    height: 100px;
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}

.advice-container h1 {
    color: var(--pink-primary)
}

.line{
    width: 80%;
    display:flex;
    gap: 20px;
}

.citation{
    width: 50px;
    height: 50px;
}

.out-text{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}


/* generate advice buttons */

.newGen{
    position: absolute;
    bottom: -35px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:999px;
    cursor: pointer;
    background-color: var(--pink-primary);
}

.bottom-section{
    display: flex;
    width: 100%;
    height: 40vh;
    justify-content: space-evenly;
}

.right-carousel{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


/* footer */

footer{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--blue-primary);
    font-family: var(--font-family);
    color: var(--grey-secondary);
}
footer hr {
    border:none;
    height: 4px;
    background-color: var(--grey-secondary);
}
footer p{
    padding-bottom:5px;
    font-weight: 600;
}
hr,p{
    width: 90%;
    margin: auto;
}

#left-2,#right-2{
    font-size:20px;
}

/* .slider.disable{
    visibility: hidden;
} */

.slider[data-active='false']{
    visibility:hidden;
}

.slider[data-active='true']{
    visibility:visible;
}

@media only screen and (max-width:999px){
    .div-image img{
        display: none;
    }

     /* main{
        height:180vh;
    } */
    .top-section img{
        display: none;
    }
    .bottom-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .slider-container{
        height: 40px;
    }


    .first-carousel, .secondary-carousel{
        height: auto;
    }
    .slider{
        margin-top: -20px;
    }
    .navigation{
        margin-top: 40px;
    }
    .right-carousel{
        width: 70%;
    }
    .bottom-section{
        width: 100%;
    }
}

@media only screen and (max-width:700px){
    .right-carousel{
        width: 80%;
    }
    .first-carousel h2,
    .secondary-carousel h2{
        font-size: 10px;
    }
    .stats h3{
        font-size: 10px;
    }
    .stats p{
        font-size: 10px;
    }
    .year{
        font-size: 10px;
    }
    .out-text{
        font-size: 10px;
    }
    .stats h3 p{
        font-size: 10px;
    }
 }
@media only screen and (max-width:570px){
    .bottom-section{
        height:100vh;
    }
    .double-carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .first-carousel{
        width: 60%;
    }

    .secondary-carousel{
        width: 60%;
    }
    .advice-generator{
        height:200px;
    }
}

.happy-page2{
    color: var(--green-primary) !important;
}

.happy-page3{
    color: var(--green-primary) !important;
}

#left-2, #right-2{
    color: var(--green-primary) !important;
    cursor: pointer;
}
