@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Red+Hat+Display:wght@300&display=swap');
body{
margin: 0;
padding: 0;
}
header{
    height: 10vh;
    width: 100vw;
    background-color: #200355;
}
main{
    margin: 0;
    padding: 0;
    background-color: #200355;
    width: 100vw;
    height: 90vh;

}
.div-text{
    font-size: 1rem;
    color: white;
    padding: 60px;
    width: 30%;
    height: 80%;
    
}
.button-happiness{
width: 200px;
height: 40px;
background-color: #FEC505;
color: white;
border-radius: 20px;
border: none;
box-shadow: -5px 5px 10px rgba(21, 2, 55, 0.2), 5px -5px 10px rgba(21, 2, 55, 0.2), -5px -5px 10px rgba(31, 2, 83, 0.9), 5px 5px 13px rgba(21, 2, 55, 0.9), inset 1px 1px 2px rgba(31, 2, 83, 0.3), inset -1px -1px 2px rgba(21, 2, 55, 0.5);
margin-left: 50px;
}
.button-health{
width: 200px;
height: 40px;
background-color: #44B562;
color: white;
border-radius: 20px;
border: none;
box-shadow: -5px 5px 10px rgba(21, 2, 55, 0.2), 5px -5px 10px rgba(21, 2, 55, 0.2), -5px -5px 10px rgba(31, 2, 83, 0.9), 5px 5px 13px rgba(21, 2, 55, 0.9), inset 1px 1px 2px rgba(31, 2, 83, 0.3), inset -1px -1px 2px rgba(21, 2, 55, 0.5);
margin-left: 50px;
}
p{
font-style: normal;
font-weight: lighter;
font-family: 'Montserrat';

}
h2{
font-family: 'Montserrat';
}
h2 :nth-child(1){
    color: #FEC505;
}
h2 :nth-child(2){
    color: #44B562;
}
h2 :nth-child(3){
    font-weight: lighter;
}
.top-section{
    display: flex;
    justify-content: space-evenly;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}