*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --yellow-primary: #FEC505;
    --green-primary: #44b562;
    --blue-primary: #200355;
    --pink-primary: #df6462;
    /* Secondary */
    --blue-secondary: #1a2a33;
    --blue-light-secondary: #1f3641;
    --blue-section-secondary: #1a0245;
    --grey-secondary: #a8bfc9;
    --grey-light-secondary: #dbe8ed;
    /* font */
    --font-family:'Montserrat', sans-serif;
    --font-weight-bold: 700;
    --font-weight-regular: 500;
}

main{
    height: 97vh;
    width: 100%;
    background-color: var(--blue-primary)
}
/* header */
header{
    width: 100%;
    height: 10vh;
    padding:5px;
    position: absolute;
    top: 0;
    left:0;
    display: flex;
    font-family: var(--font-family);
    box-shadow: -5px 5px 10px rgba(26, 2, 68, 0.2), 5px -5px 10px rgba(26, 2, 68, 0.2), -5px -5px 10px rgba(38, 4, 102, 0.9), 5px 5px 13px rgba(26, 2, 68, 0.9), inset 1px 1px 2px rgba(38, 4, 102, 0.3), inset -1px -1px 2px rgba(26, 2, 68, 0.5);
    background-color: var(--blue-primary);
}

header
.nav-container{
    padding: 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}
.nav-container .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: #fff;
}

.nav-container .logo h1{
    font-size:20px;
}

nav ul {
    display: flex;
    gap: 40px;
}

ul li a{
    color: #fff;
}

.happy:hover{
    color: var(--yellow-primary);
    text-decoration: underline;
}
.health:hover{
    color: var(--green-primary);
    text-decoration: underline;
}


/* api get new advice */

.advice-generator{
    margin: 95px auto;
    padding: 10px;
    height: 225px;
    width: 45%;
    background-color: var(--blue-section-secondary);
    font-family: var(--font-family);
    border-radius:15px;
    color: white;
}

.advice-generator h1 {
    text-align: center;
}

.advice-container{
    position: relative;
    padding: 10px;
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}

.advice-container h1 {
    color: var(--pink-primary)
}

.line{
    width: 80%;
    display:flex;
    gap: 20px;
}

.citation{
    width: 50px;
    height: 50px;
}

.out-text{
    font-size: 20px;;
}

/* generate advice buttons */

.newGen{
    position: absolute;
    bottom: -35px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:999px;
    cursor: pointer;
    background-color: var(--pink-primary);
}
/* footer */
footer{
    height: 40px;
    background-color: var(--blue-primary);
    font-family: var(--font-family);
    color: var(--grey-secondary);
}
footer hr {
    border:none;
    height: 4px;
    background-color: var(--grey-secondary);
}
footer p{
    padding-top:10px;
}
hr,
p{
    width: 90%;
    margin: auto;
}